:root{
    --primary-color: #007BFF ;
    --text-color: #2e2e2e;
    --text-size: 24px;
}


.index-body{
    /*background-color: var(--primary-color);*/
    color: var(--text-color);
    font-size: var(--text-size);
    height: 100vh;
}

/*.index-main section{
    background: url(https://marloujake.github.io/portfolio-assets/images/napoli.png) no-repeat center;
    background-size: cover;
    height: 100% 
}*/

nav, ul{
    display: flex;
}

.index-nav a{
    color: var(--text-color);
}