/*
* Index Styles
*
*/

.index-body{
    color: var(--text-color-d);
    font-size: var(--text-size-md);
    height: 100vh;
}

/*.index-main section{
    background: url(https://marloujake.github.io/portfolio-assets/images/napoli.png) no-repeat center;
    background-size: cover;
    height: 100% 
}*/

nav, ul{
    display: flex;
}

.index-nav, .index-footer{
    background-color: var(--primary-color-bs-2);
}

.index-nav a{
    color: var(--text-size-w);
}

.index-nav a{
    text-decoration: none;
}

.index-nav ul{
    padding: 0.3rem 1rem;
}