/*
* Index Styles
*
*/

.index-body{
    /*background-color: var(--nav-color);*/
    color: var(--text-color-1);
    font-size: var(--text-size-md);
    height: 100vh;
}

/*.index-main section{
    background: url(https://marloujake.github.io/portfolio-assets/images/napoli.png) no-repeat center;
    background-size: cover;
    height: 100% 
}*/

nav, ul{
    display: flex;
}

.index-nav{
    background-color: var(--nav-color-1);
}

.index-nav a{
    color: var(--index-link-text-2);
}

.index-nav a{
    text-decoration: none;
}