:root{
    --primary-color: #007BFF ;
    --nav-color-1: #87CEEB;
    --text-color-1: #2e2e2e;
    --text-size-vsm: 6px;
    --text-size-sm: 12px;
    --text-size-md: 24px;
    --index-link-text-1: #dae7f0;
    --index-link-text-2: #1C3C5D;
}
