:root{
    --primary-color: #007BFF ;
    --text-color: #2e2e2e;
    --text-size: 24px;
}


body{
    color: var(--text-color);
    font-size: var(--text-size);
}

nav, ul{
    display: flex;
}

.index-nav a{
    color: var(--text-color);
}